td{
    height:4vh;
    width: 4vh;
    border:.25vh solid black;
    border-style: inset;
    padding: 0;
    margin: 0;
}
h1{
    color:black;
    text-align: center;
    font-size: 6vh;
}
h3{
    font-size: 3vh;
}
.tile{
    background-color:whitesmoke;
}

table{
    text-align: center;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
button{
    width:10vh;
    height:5vh;
    margin-bottom: 5vh;
    background-color: gray;
    border-radius: 10%;
    font-size: 2vh;
    color:white
}
body{
    text-align: center;
    background-color: whitesmoke;
}
#placementTable{
    margin-top: 8vh;
}
.hovered{
    background-color: green;
}
.shiptile{
    background-color: blue;
}
.red {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background-color: red;
  }
.white {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background-color: green;
}
#playerTable{
    display: inline-block;
    vertical-align: top;
    width:49%;
}

#enemyTable{
    display: inline-block;
    vertical-align: top;
    width:49%;
}
.msg{
    font-size: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}